@import "./variables.scss";

.add-video-form {
    border-radius: 8px;
    background-color: $secondary;
    color: #FFF;
    padding: 8px 8px;
    margin-bottom: 22px;
    overflow: hidden;
    animation: fadeInUp 0.32s forwards 1 cubic-bezier(0.19, 1, 0.22, 1);
    
    @media all and (min-width: 900px) {
        max-width: 512px;
    }

    .save-btn {
        margin-right: 0px;
        margin-left: auto;
        display: table;
        padding: 8px 8px;
        font-size: small;
        margin-bottom: 8px;
        color: rgb(139, 243, 139);
        border-radius: 16px;
        transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);

        &:hover, &:active {
            opacity: 0.55;
        }
    }

    .status-message {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: small;
        padding: 8px 0px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            border-radius: 4px;
            margin-left: 4px;

            &:hover {
                background-color: $bgColor;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            fill: #FFF;
        }
    }

    .id {
        display: table;
        margin: auto;
    }

    .empty {
        margin-top: 48px;
        margin-bottom: 48px;
        
        header {
            font-size: 1.25rem;
        }
    }

    .input {
        flex: 1 1;
        border-radius: 8px;
        border: solid thin $secondaryFaded;

        label {
            border-radius: 8px;
            padding: 6px 12px;

            & > div {
                flex: 1 1;
            }

            b {
                font-size: small;
                display: table;
                margin-bottom: 4px;
            }

            input {
                background-color: transparent;
                display: block;
                box-sizing: border-box;
                width: 100%;
                border: none;
                font-size: 1rem;
                color: #FFF;
                padding: 8px;
                
            }

            .clear-text-btn {
                margin-left: 12px;

                span {
                    display: table;
                }
            }

            .search-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $accent;
                color: $primary;
                border-radius: 600px;
                margin-left: 12px;


                span {
                    margin-left: 16px;
                    margin-right: 16px;
                }
                
                svg {
                    fill: $primary;
                }
            }
        }
    }

    .add-btn {
        display: table;
        padding: 12px 32px;
        background-color: rgb(143, 228, 143);
        color: rgb(21, 53, 21);
        border-radius: 6px;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;

        .cancel-btn {
            padding: 8px 16px;
            border-radius: 4px;
        }


        @media all and (max-width: 640px) {
            .add-btn {
                flex: 1 1;
                margin-left: 16px;
            }
        }
    }
}

.add-video-form-tabs {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    
    .tab {
        padding: 12px 16px;

        &.selected {
            border-bottom: solid 4px $accent;
        }
    }
}

.add-item-form-results.videos {
    align-items: flex-start;
    .item {
        min-width: 240px;
        max-width: 240px;

        button {
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            &:hover {
                background-color: $bgColor;
            }
        }
        svg {
            width: 16px;
            height: 16px;
            fill: #FFF;
        }

        img {
            display: block;
            width: 100%;
            max-width: 240px;
            border-radius: 8px;
            margin: 16px auto 16px;
        }

        p {
            font-size: small;
        }
    }
}