@use './APIKeyForm.scss';
@use './AddVideoForm.scss';

@import './variables.scss';

input:focus {
  outline: none;
  opacity: 0.75;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: $bgColor;
    color: #FFF;
  }
  
  pre {
    margin: auto auto;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html,
  body {
    font-family: "open sans", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, button {
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bolder;
    color: $white;
  }
  
  .form-wrapper {
    padding: 32px;
    max-width: 1920px;
    margin: auto;
  }
  
  .top-header {
    margin-bottom: 32px;
  }
  
  .top-header h1 {
    font-size: 2rem;
  }
  
  .api-key-form {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .api-key-form .error {
    margin-top: 16px;
  }

  .confirmation-buttons {
    .cancel {
      padding: 8px;
    }

    .cancel:nth-of-type(2) {
      margin-left: 8px;
    }

    .cancel:nth-of-type(1) {
      border: none;
    }
  }
  
  .submit-btn {
    background-color: rgb(143, 228, 143);
    color: rgb(21, 53, 21);
    border-radius: 6px;
    padding: 12px 48px;
    animation: fadeIn 0.48s forwards 1 cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .submit-btn.cancel {
    color: #ff473a;
    background-color: transparent;
    border: solid 2px #e9153d;

    &:hover {
      opacity: 0.50;
    }
  }
  
  .submit-btn.disabled {
    background-color: gray;
    color: #222;
  }
  
  .error {
    padding: 4px 4px;
    color: red;
    animation: fadeInDown 0.32s forwards 1 cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .flex {
    display: flex;
    flex-direction: row;
  }
  
  .flex.col {
    flex-direction: column;
  }
  
  .x-between {
    justify-content: space-between;
  }
  
  .x-start {
    justify-content: flex-start;
  }
  
  .x-center {
    justify-content: center;
  }
  
  .x-end {
    justify-content: flex-end;
  }
  
  .y-center {
    align-items: center;
  }
  
  .y-end {
    align-items: flex-end;
  }

  .y-start {
    align-items: flex-start;
  }

  .empty {
    text-align: center;
    margin-top: 160px;
    
    header {
      font-size: 2rem;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
    }
  }

  .top-bar {
    margin-bottom: 24px;
  }

  .id {
    display: table;
    font-size: small;
    font-weight: bolder;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: $secondary;
  }
  
  .input-wrapper {
    width: 100%;
    
    .label {
      width: 100%;
      background-color: $secondary;
      color: #e7e7e7;
      border-radius: 12px;
      padding: 8px 16px 8px;

      &.disabled {
        opacity: 0.50;
      }

      b {
        display: table;
        font-size: small;
        margin-bottom: 4px;
      }
      
      input[type="text"], 
      input[type="number"] {
        padding: 8px 8px;
        font-size: 1.25rem;
        background-color: transparent;
        color: #FFF;
        border: none;
        border-radius: 4px;
        min-width: 320px;
      }
    }
  }

  .categories {
    margin-left: -8px;

    button {
      padding: 16px 4px;
      font-size: small;
      background-color: $secondary;
      border-radius: 8px;
      flex: 1 1;
      margin-left: 8px;
      transition: background-color 0.32s cubic-bezier(0.215, 0.610, 0.355, 1);
      
      svg {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
        fill: $white;
      }

      span {
        display: block;
      }
      
      &:hover {
        background-color: $secondaryFaded;
      }

      &.selected {
        background-color: $accent;
        color: $bgColor;

        svg {
          fill: $bgColor;
        }
      }
    }
  }
  
  .dropdown-wrapper {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: 0px;
  }
  
  .dropdown-wrapper .selected svg {
    width: 16px;
    fill: #FFF;
  }
  
  .dropdown-wrapper .selected {
    padding: 18px 32px;
    color: #FFF;
    background-color: hsl(0 0% 22%);
    border-radius: 8px;
    min-width: 180px;
  }
  
  .dropdown-wrapper .dropdown button {
    white-space: nowrap;
    display: block;
    padding: 12px 16px;
    background-color: transparent;
    color: #FFF;
    box-sizing: border-box;
    width: 100%;
    max-width: unset;
  }
  
  .dropdown-wrapper .dropdown button:hover {
    color: hsl(525 83% 42%);
  }
  
  .dropdown-wrapper .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8px;
    background-color: $primary;
    color: #FFF;
    border-radius: 8px;
    overflow: hidden;
    z-index: 2;
  }

  .search-bar {
    background-color: $secondary;
    border-radius: 12px 12px;
    margin-bottom: auto;
    animation: fadeIn 0.32s forwards 1 cubic-bezier(0.215, 0.610, 0.355, 1);

    button {
      padding: 8px 16px;
      
      svg {
        width: 24px;
        height: 24px;
        flex: 1 1;
        fill: white;
      }
    }
  }
  
  .search-bar label {
    flex: 2 1;
    border-radius: 12px 0px 0px 12px !important;
    padding: 8px 0px 8px 16px !important;
    margin-right: 4px;
  }
  
  .add-video-btn {
    background-color: $secondary;
    padding: 12px 16px;
    border-radius: 8px;
    flex: 1 1;
    margin-right: 8px;
    max-width: 480px;
    
    b {
      border-radius: 4px;
      display: inline-block;
      vertical-align: middle;
      padding: 4px;
      background-color: $secondaryFaded;
    }

    svg {
      width: 32px;
      height: 32px;
      fill: $white;
    }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    z-index: -1;
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.25;
    background-size: cover !important;
  }
  
  .form-body {
    position: relative;
    z-index: 1;

    & > img {
      width: 100%;
      max-width: 240px;
      border-radius: 8px;
      margin: 16px auto 16px;
      display: table;
    }
  }

  .videos-section {
    flex: 1 1;
    
    .top {
      padding: 12px 0px;
      position: sticky;
      top: 0px;
      background-color: $bgColor;
      margin-top: -12px;

      h1 {
        white-space: nowrap;
      }

      .toolbar-btn {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        margin-right: 6px;

        &:hover {
          background-color: $secondary;
        }

        svg {
          width: 32px;
          height: 32px;
          fill: $white;
        }

        span {
          margin-left: 12px;
          margin-right: 12px;
        }
      }
    }
  }
  
  .videos-section .top > span {
    font-size: small;
    font-weight: bolder;
  }
  
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    padding-bottom: 32px;
  }
  
  .list-item {
    min-width: 240px;
  }
  
  .list-item img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  
  .list-item h1 {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .list-item .delete-btn {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .list-item .delete-btn svg {
    width: 16px;
    fill: $white
  }
  
  .list-item .delete-btn:hover {
    background-color: $secondary;
  }
  
  .inner-form {
    position: relative;
  }
  
  .inner-form-wrapper {
    margin-right: 16px;

    position: sticky;
    align-self: flex-start;
    top: 16px;
  }
  
  .clear-text-btn, .search-btn {
    padding: 8px;

    svg {
      width: 16px;
      height: 16px;
      fill: $white;
    }
  }
  
  .hidden {
    display: none;
  }
  
  .content-wrapper .submit-btn {
    padding: 18px 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;
  }
  
  .organizer-section {
    position: fixed;
    z-index: 9999;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
    padding: 16px 32px;
    border-radius: 16px;
    box-shadow: 0px 0px 32px -8px #1b1b1b;
    min-width: 640px;
  }
  
  .organizer-section .cancel-btn {
    background-color: transparent;
    padding: 12px 16px;
    display: table;
    margin-left: auto;
    margin-right: 0px;
  }
  
  .video-organizer {
    display: block;

    header {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
    }

    footer {
      padding-top: 16px;
    }
  }
  
  .video-organizer ul {
    max-height: 64vh;
    overflow-y: auto;
    margin: auto;
    margin-block-start: unset;
    margin-block-end: unset;
    padding: 0px;
  }
  
  .video-organizer .video:hover {
    background-color: $secondaryFaded;
    opacity: 0.75;
  }
  
  .video-organizer .video {
    padding: 18px 12px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 3px transparent;
    box-sizing: border-box;
  }
  
  .video-organizer .video h1 {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .video-organizer .video img {
    width: 120px;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: auto;
  }
  
  .video-organizer .video.selected {
    border: solid 3px rgb(78, 250, 221);
  }
  
  .unstyled-button {
    background-color: transparent;
    border: none;
  }
  
  .submit-types {
    display: block;
    color: #FFF;
    
    button {
      display: inline-block;
      padding: 12px 32px;
      border-radius: 12px;
      color: #FFF;
  
      &.create {
        margin-right: 8px;
      }
  
      &:hover {
        background-color: $secondaryFaded;
      }

      &.selected {
        background-color: $secondary;
      }
    }
  }
  
  .search-results {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: $primary;
    padding: 16px;
    width: 380px;
    margin-top: 8px;
    text-align: center;
    white-space: break-spaces;
    box-shadow: -4px 12px 24px -12px #212121;
    border-radius: 8px;
    max-height: 320px;
    overflow-y: auto;
  }
  
  .search-result {
    display: block;
    padding: 16px 8px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;

    &:hover {
      background-color: $secondaryFaded;
    }
  }
  
  .search-result-details {
    margin-top: 2px;
  }
  
  .search-result-details span {
    font-size: x-small;
    background-color: #414141;
    color: #FFF;
    padding: 4px 16px;
    border-radius: 500px;
    display: inline-block;
  }
  
  .search-result-details a {
    display: inline-block;
    margin-left: 8px;
    text-decoration: none;
  }
  
  .search-bar-input {
    min-width: 320px !important;
    margin-right: auto;
  }

  .add-item-form-results {
    overflow-x: auto;
    scroll-snap-type: x proximity;
    margin-top: 16px;

    &:hover > .item:not(:hover) {
        opacity: 0.45;
    }

    .item:not(:nth-of-type(1)) {
        margin-left: 16px;
    }

    .item {
        scroll-snap-align: start;
        cursor: pointer;
        transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &.posters {
      .item {
        border-radius: 8px;
        max-width: 160px;
      }

      padding-bottom: 16px;
    }
}
  
  @media all and (max-width: 1440px) {
    .list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media all and (max-width: 1215px) {
    .list-item {
      min-width: unset;
      box-sizing: border-box;
    }
  
    .list {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media all and (max-width: 900px) {
    .search-wrapper {
      margin: auto;
    }
  
    .search-results {
      right: 16px;
      max-height: 240px;
      overflow-y: auto;
    }
  
    .search-bar-input {
      min-width: unset !important;
    }

    .form-wrapper {
      padding: 16px;
      max-width: 720px;
    }
    
    .flex.content-wrapper {
      display: block;
    }
  
    .top-header h1 {
      font-size: 1.25rem;
    }
  
    .inner-form-wrapper {
      margin-right: auto;
      position: relative;
      top: auto;
    }
    
    .list {
      display: block;
    }
  
    .list-item {
      display: flex;
      max-width: 100%;
      margin: auto auto 16px auto;
      align-items: center;
      min-width: unset;
    }
  
    .list-item .details {
      justify-content: space-between;
      flex: 1 1;
    }
  
    .list-item img {
      width: 120px;
      border-radius: 4px;
      margin-right: 16px;
      margin-bottom: auto;
    }
  
    .input-wrapper .label input[type="text"],
    .input-wrapper .label input[type="number"],
    .input-wrapper .label,
    .input-wrapper {
      display: block;
      width: 100%;
      margin: auto;
      box-sizing: border-box;
    }
  
    .input-wrapper .label input[type="text"],
    .input-wrapper .label input[type="number"] {
      font-size: 1rem;
    }
  
    .submit-types {
      margin-left: -2.5%;
      margin-bottom: 2.5%;
      display: flex;

      button {
        flex: 1 1;
        margin-left: 2.5%;
        padding: 16px 16px;
        box-sizing: border-box;
      }
    }
  
    .top-header {
      display: block;
    }
  
    .search-bar {
      display: flex;
      margin-bottom: 8px;
    }
  
    .input-wrapper:not(.search-bar) .label {
      margin-bottom: 8px;
    }
    
    .dropdown-wrapper {
      margin-left: auto;
      
      .selected {
        padding: 18px 12px;
      }
    }
  
    .videos-section {
      margin-top: 32px;
    }
  
    .video-box-wrapper {
      z-index: unset;
    }
  
    .top-input-wrapper {
      margin-top: auto;
    }
  
    .submit-btn {
      padding: 12px 18px;
      white-space: nowrap;
    }
  
    .add-video-btn {
      padding: 12px 32px;
    }
  
    .organizer-section {
      position: fixed;
      top: 80px;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 99;
      min-width: 0px;
      transform: none;
      border-radius: 16px 16px 0px 0px;
    }
  
    .organizer-section {
      padding: 16px 16px;
      top: 0;
      border-radius: 0;
      margin-top: 0;
    }
  
    .top h1 {
      font-size: 1rem;
    }
  
    .video-organizer ul {
      max-height: 70vh;
    }
  }
  
  @media all and (max-width: 640px) {
    .search-results {
      width: auto;
      left: 16px;
      right: 16px;
      box-shadow: 0px 0px 32px -12px $primary;
      min-height: 100px;
    }
  }

  @media all and (max-width: 512px) {
    .video-box {
      position: fixed;
      bottom: 8px;
      left: 8px;
      right: 8px;
      z-index: 99;
      min-width: 0px;
      transform: none;
      border-radius: 8px;
      margin-bottom: auto;
      box-shadow: 0px -4px 16px -8px #111;
    }

    .add-video-btn {
      padding: 12px 6px;
      white-space: nowrap;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }